/*Import das fontes utilizadas abaixo do Website google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300&display=swap');

#headerbtn{
    background-color: rgb(24, 87, 121);
    color: #ffffff;
    text-decoration: none;
    width: 180px;
    height: 55px;
    display: inline-block;
    border-radius: 70px;
    padding-top: 15px;
}

.description-container{
    border: 5px solid cadetblue;
    text-align: center;
    position: relative;
    top:1300px;
    background-color: rgb(24, 87, 121);
    margin: auto;
    padding: auto;
    width: 100%;
    height: 970px;
    padding-top: 80px;
    
}

.testemonial-container{
    background-color: cadetblue;
    position: relative;
    width:100%;
    height: 200px;
    top:1400px;  
}

.card-container{
    /*border: 1px solid red;*/
    position: absolute;
    top:700px;
    margin:50px;
}
.header-container{
/*Mostra o conteiner com o texto alinhado no centro com a largura do ecran a 300px do topo como um bloco*/
    /*border: 1px solid red;*/
    text-align:center;
    position:absolute;
    width:100%;
    top:300px;
    display:block; 
 }


body { 
/*Adiciona uma imagem de background*/
    background: #ffffff;
    background-image: url('../images/coworking.jpg');  
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}


h1 {
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 100px !important;
    Line-height: 1.2 !important;
    
}

h2,  h3{
    /*Muda a fonte para Open Sans: sans-serif e a cor do texto para azul*/
   font-family: 'Open Sans', sans-serif;
   color:  white;
   
}

p{ 
    /*Muda a fonte para Open Sans: sans-serif a cor para azul e o tamanho do texto para 17px*/
    font-family: 'Open Sans', sans-serif;
    color:  white;
    font-size: 17px;
    
}

